# history
.history/*

# vscode
.vscode/*

# Node
node_modules
.env
dist
logs

# Client
/client/.next
/client/out

# Server
/server/dist
/server/prisma/dev.db

# Shared
/shared/dist

# package
package-lock.jsons